@use "../abstracts/variables"as *;
@use "../abstracts/mixins"as *;

/* Font Family For Body */
base {
  font-family: 'Poppins', sans-serif;
}

/* Font Weight Semi-Bold */
.fw-smb {
  font: {
    weight: $font-weight-semibold;
  }
}

/* Center Element Using Position Absolute */
.center-position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* Center Element Using Flex Box */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center
}


@include gen-props("bg", "background");
@include gen-props("text", "color");